* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: antiquewhite;

}
/*---- Header section styling ----*/
#head_section {
  height: 600px;
  width: 100%;
  
}

#background-image {
  height: 600px;
  width: 100%;
  background: url("../images/baldo.jpg") no-repeat center center/cover;

}

#logo {
  float: left;
  margin-top: 25px;
  margin-left: 10px;
 }

#cover_text {
  height: 60px;
  width: auto;
  padding-top: 250px;
  padding-left: 30%;

}

#cover_text h2 {
  font-size: 30px;
  letter-spacing: 3px;
  font-style: italic;

  color: antiquewhite;
}

/*--- navbar styling ----*/
#menu {
  height: 50px;
  width: 100%;
  background-color: rgb(43, 18, 18);
  border-radius: 1px;
  
}


#menu ul {
  text-align: center;
  padding-top: 3px;
  
}

#menu ul li {
  font-size: 20px;
  display: inline-block;
  padding: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#menu ul li a {
  text-decoration: none;
  color: antiquewhite;

}

#menu a:hover {
  border-bottom: 2px solid #777777;
}

.active {
  border-bottom: 1px solid #777777;
}
/*styling the navbar for the service page*/
#navbar ul {
  height: 50px;
  width: 100%;
  background-color: rgb(35, 17, 17);
  border-radius: 1px;
  
}
#navbar ul {
  text-align: center;
  padding-top: 3px;
  position: fixed;
  top: 0;
}
#navbar ul li {
  font-size: 20px;
  display: inline-block;
  padding: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#navbar ul li a{
  text-decoration: none;
  color: whitesmoke;

}

#navbar a:hover {
  border-bottom: 2px solid #777777;
}

.active {
  border-bottom: 1px solid #777777;
}
/*style for arrow icon*/

i {
  color: aliceblue;
  float: right;
}

/*---- About section styling ----*/
#about_container {
  height: 600px;
  width:100%;
  background-color: #648666;

}

#about-text {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 15px;
  color: rgb(56, 47, 47);
  text-decoration: underline;

}

.grid-content {
  display: flex;
flex-basis: 100%;}

.image img{
  margin-left: 10%;
  margin-top: 21%;
}

.text {
  margin-left: 9%;
  margin-top: 12%;
}

.text p {
  font-size: 23px;
  letter-spacing: 2px;
  color: white;
  align-items: center;
  
}

/*--- Image style for service and event's section---*/
.genral_img {
  border-radius: 50%;
  border: 2px inset black;
}


#service-container {
  width: auto;
  height: 600px;
}

#text-service {
  width: 600px;
  height: 30px;
}

#service-text h2 {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-align: center;
  padding: 10px;
  text-decoration: underline;
  text-transform: capitalize;
  color: whitesmoke;
  background-color: rgb(43, 18, 18);

}
/*--- style for all the h3 elements ---*/
h3 {
  font-size: 30px;
  font-weight: bolder;
  padding: 15px;
  color: black;
  text-decoration: underline;
}

/*---- style for service and events elements --*/
.events{
  height: 50px;
  width: 100%;
  background-color: rgb(43, 18, 18);
  border-radius: 1px;
}
.even-columns {
  display: flex;
  

}

.even-columns .serv {
  flex-basis: 100%;
  align-items: center;
  margin: 1%;
}

#events-container {
  width: 100%;
  height: 600px;
}

#events-text {
  width: 100%;
}

#events-text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 15px;
  color:whitesmoke;
  text-decoration: underline;
}

/*--- Review's section styling ---------*/

#reviews{
  width: 100%;
  height: 600px;
background-color: rgb(207, 211, 214);
}

.review_bar {
  width: 100%;
  height: 25px;
  margin-bottom: 5%;
}

#review_bar{
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: center;
  padding: 15px;
  text-decoration: underline;
  text-transform: capitalize;
  color: whitesmoke;
  background-color: rgb(43, 18, 18);

}

.review_container{
  width: 100%;
  height: 600px;
   }



   .image1{
    display: inline-block;
    }
    .span1{
      float:left;
    width: 40%;
    }
  



.image2{
  display: inline-block;
  }
  .span2{
    float:left;
  width: 40%;
  }

.review_image{
  border-radius: 20%;
  border: 2px inset black;
  margin-left: 10%;
  margin-top: 20%;
  }

.review_name p{
  padding-top: 30px;
  padding-left: 20%;
  font-size: larger;
}  
.review_text{
  padding-top: 18%;
  font-size: 20px;
  letter-spacing: 0.5px;
}
 
/*---- style for contact's section ----*/  

#contacts {
  width: auto;
  height: 600px;}

  #contact-text {
    width: auto;
    height: 30px;}

    #contact-text h2 {
      font-size: 30px;
      font-weight: bolder;
      letter-spacing: 3px;
      text-align: center;
      padding: 10px;
      text-decoration: underline;
      text-transform: capitalize;
      color: antiquewhite;
      background-color: rgb(43, 18, 18);
    }



.even-columns {
  display: flex;
}

.even-columns {
  flex-basis: 100%;
  align-items: center;
  margin: 3%;
}



.even-columns {
  display: flex;
}

.even-columns>* {
  flex-basis: 100%;
  gap: 2em;
}

.openning-hrs {
  padding-bottom: 80px;
}

.openning-hrs h3 {
  padding-bottom: 20px;
}

.openning-hrs table {
  font-size: larger;
  padding: 10px;
}

input {
  border: 2px outset black;
  padding: 5px;
}

textarea {
  border: 2px outset black;

}

.via h5 {
  font-size: 20px;
}

#foot {
  width: auto;
  height: 100%;
  background: rgba(73, 45, 26, 0.627);


}

#social-links {
  width: auto;
  height: 100%;
}

#social-links ul {
  text-align: center;
  padding-top: 3px;
}

ul li {
  font-size: 30px;
  display: inline-block;
  padding: 50px;
}

ul li i {
  color: aliceblue;
}

.copy_right {
  font-size: large;
  margin-left: 25%;
  color: aliceblue;
}

#mail {
  font-weight: bold;
  font-size: large;
  padding-right: 45%;
  color: aliceblue;
}

@media screen and (max-width: 499px) {
  #background-image {
    width: auto;

  }

  #logo {
    height: 20px;
    width: 40%;
  }

  #cover_text {
    padding-left: 50px;
    padding-bottom: 90px;
  }

  #cover_text h2 {
    font-size: 25px;
  }

  #menu ul li {
    font-size: 15px;
    padding: 8px;

  }
  /*This is the navbar on the service page preview*/
  #navbar ul li{
    font-size: 14px;
    display: inline-block;
    padding-left: 1px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    padding-top: 12px;
  }

  #navbar ul li a{
    color: whitesmoke;
  }
  
  /*styling the about section*/
  #about {
    width: 100%;
    height: 100%;
  }
  .grid-content {
    display: grid;
    
  }


  .text {
    padding-bottom: 20%;
    margin-left: 2%;
    margin-top: 6%;
  }
  .text p{
    letter-spacing: 0.5px;
    font-size: medium;}

  /*---- service container section ---*/
  #service-container{
    width: 100%;
    height: 100%;
  }
  #service-text {
    width: 100%;
    
    
  }
    /*---- style for the overall even columns ----*/
    .even-columns{
      display: grid;
    }


  .even-columns .serv{
    display: grid;

  }
/*--- events section ----*/
#events-container{
  width: 100%;
  height: 100%;
}
/*----- review styling -----*/
  .review_container {
    width: 100%;
    height: 100%;
  }

  .review_name{
    padding-left: 20px;
  }

  .review_image{ /* --- resizing the review images to fit the section's content -----*/
    height: 100px;
    width: 100px;
    float: left;
    margin-top: 40%;
  }
  .review_text {
    padding-top: 18%;
    font-size: 16px;
    letter-spacing: 0.4px;
}
/*Overall styling for the service and events images*/
.genral_img {
  margin-left: 20%;
  border-radius: 50%;
  border: 1px inset solid black;
}

/*centering the contents of the contact's section*/

#contacts{
  width: 100%;
  height: 100%;
}

form {
  margin-left: 12%;
  margin-bottom: 4%;
}
.btn {
  background-color:rgba(25, 18, 18, 0.938);
  color:white;
  border: 1px transparent;
  border-radius: 20px;
}
/*----------------------------------------------------------------------------------*/
.address, .via {
  margin-left: 12%;
  margin-bottom: 4%;
}
.openning-hrs {
  margin-left: 12%;
  margin-bottom: 4%;
}

  #social-links ul {
    width: 100%;
    height: 100px;
  }

  ul li {
    font-size: 25px;
    display: inline-block;
    padding: 20px;
  }
}


.copy_right {
  font-size: large;
  color: aliceblue;
  padding-bottom: 40px;
}

